{{> layout/header}}

<!--메인 시작-->
<div id="container">
    <section class="section1 main_sc1 cf">
        <!--section1 메인이미지 이부분은 슬라이더 보여지는 부분이라 프로그래밍 안들어가는 부분입니다.-->
        <div class="section1-img">
            <div class="section1-img1 mv" style="width: 1000vh !important;"><img src="/images/main_3.png">
                <!-- <div class="cover"></div> -->
            </div>
            <div class="section1-img2 mv">
                <img src="/images/main_4.png">
            </div>
            <div class="section1-img3 mv">
                <img src="/images/main_5.png">
            </div>
        </div>
        <!--section1 메인이미지-->

        <!--section1 메인 txt-->
        <div class="section1-title-box w14">
            <div class="w14">
                <div class="section1-title">
                    <div class="tit1">
                        <h2>
                            지금 가장 맛있는 달콤한 과일
                        </h2>
                        <p>
                            우리집 비타민 과일로 보충해요
                        </p>
                    </div>
                    <div class="tit2">
                        <h2>
                            지금 가장 맛있는 달콤한 과일
                        </h2>
                    </div>
                    <div class="tit3">
                        <h2>
                            득템찬스 하나는 아쉬우니까!
                        </h2>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--section1 메인 txt-->

    </section>

    <!--section2 상품 리스트-->
    <section class="section2 main_sc2">
        <!--타이틀-->
        <div class="main_title mt-80">늘 좋은 상품만 드릴께요!</div>
        <div class="slide_wrap point w15">
            <div class="slide">
                <div class="swiper-wrapper">
                    <!--상품 리스트 아이템-->
                    {{#productList}}
                    <div class="swiper-slide card">
                        <img class="card-img-top" src="/images/prod_1.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <a href="#" class="btn mb-20">장바구니 담기</a>
                            <!-- <h4 class="card-title">당도선별 천혜향 1kg(4~6입)</h4>-->
                            <h4 class="card-title">{{name}}</h4>
                            <!--상품설명-->
                            <p class="card-text text-secondary">부드러운 과육이 품은 상큼함</p>
                            <p class="card-text price fw-600 ft-20">{{price}} 원</p>
                        </div>
                    </div>
                    {{/productList}}

                    <div class="swiper-slide card">
                        <img class="card-img-top" src="/images/prod_2.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <a href="#" class="btn mb-20">장바구니 담기</a>
                            <h4 class="card-title">대추 방울 토마토 750g</h4>
                            <p class="card-text text-secondary">믿고 먹을 수 있는 합리적인 가격</p>
                            <p class="card-text price fw-600 ft-20">9,900원</p>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <img class="card-img-top" src="/images/prod_3.jpg" alt="Card image" style="width:100%;">
                        <div class="card-body">
                            <a href="#" class="btn mb-20">장바구니 담기</a>
                            <h4 class="card-title">당도선별 성주 참외 1.5kg(4~7입)</h4>
                            <p class="card-text text-secondary">뽀얀 과육이 담긴 시원한 단맛</p>
                            <p class="card-text price fw-600 ft-20">17,900원</p>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <img class="card-img-top" src="/images/prod_4.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <a href="#" class="btn mb-20">장바구니 담기</a>
                            <h4 class="card-title">바나나 실속 2종</h4>
                            <p class="card-text text-secondary">매일즐기는 달콤한 포만감</p>
                            <p class="card-text price fw-600 ft-20">4,800원</p>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <img class="card-img-top" src="/images/prod_1.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <a href="#" class="btn mb-20">장바구니 담기</a>
                            <h4 class="card-title">당도선별 천혜향 1kg(4~6입)</h4>
                            <p class="card-text text-secondary">부드러운 과육이 품은 상큼함</p>
                            <p class="card-text price fw-600 ft-20">4,800원</p>
                        </div>
                    </div>
                    <!--상품 리스트 아이템-->
                </div>
                <!--swiper-button-->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <!--swiper-button-->
            </div>
    </section>
    <!--section2 상품 리스트-->

</div>
<!--메인 끝-->

{{> layout/footer}}