{{> layout/header}}

<div class="container sub-page">


    <div class="card" style="width:500px; margin: 0 auto;">
        <div class="main_title">
            <h2>로그인</h2>
        </div>

        <!--로그인 폼-->
        <div class="card-body login">
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="아이디를 입력하세요." name="username">
                </div>
                <!--비밀번호-->
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="비밀번호를 입력하세요." name="password">
                </div>
                <div class="mb-3 mt-3 form-group">
                    <div class="custom-checkbox custom-control d-flex" style="vertical-align: middle">
                        <input type="checkbox" name="remember" id="remember" class="custom-control-input"
                               style="width:50px !important; height: 20px !important;">
                        <label for="remember" class="custom-control-label">아이디 기억하기</label>
                    </div>
                </div>
                <!--비밀번호-->

                <!-- 로그인 버튼-->
                <button type="submit" class="btn btn-mint form-control">로그인</button>

                <!-- 로그인 버튼-->
            </form>
            <!--회원가입-->
            <div class="mt-20">
                <button type="submit" class="btn btn-outline-mint form-control">회원가입</button>
            </div>
            <!--회원가입-->

            <!--sns가입-->
            <div class="sns-login-w mt-40 mb-50">
                <div class="sns-login-inner mt-20">
                    <!--kakao 가입 버튼-->
                    <button type="submit" class="btn-yellow form-control" style="height: 66px !important; ">
                        <ul class="sns-btn-in d-flex" style="">
                            <li class="kakao-icon"></li>
                            <li>카카오 로그인</li>
                        </ul>
                    </button>
                    <!--kakao 가입 버튼-->
                </div>
            </div>
            <!--sns가입-->

        </div>
    </div>
</div>


{{> layout/footer}}